* {
  background-color: transparent;
  margin: 0 4vw;
}
.hero-card {
  background-color: var(--red);
  box-shadow: 0 4px 6px 1px rgb(198, 198, 198);
  border-radius: 10px;
  padding: 2vh 2vw;
  margin: 2vh 4vw;

  display: grid;
  grid-template-areas:
    "img title"
    "img name"
    "img id"
    "img buttons";
}
.hero-title {
  grid-area: title;
  margin: 0;
}
.hero-title h2 {
  text-align: center;
  font-weight: 600;
  text-shadow: grey 1px 1px 1px;
  margin: 1vh 0;
}
.hero-img {
  grid-area: img;
  background-color: var(--background);
  border-radius: 10px;
  height: 30vh;
  width: 30vw;
  box-shadow: 2px 2px 8px 2px rgb(198, 198, 198) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img img {
  max-height: 30vh;
  max-width: 30vw;
}
.hero-name {
  grid-area: name;
  margin: 0;
}
.hero-id {
  grid-area: id;
  margin: 0;
}
.buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
}
.hero-card h2,
label,
span,
input {
  color: white;
  font-size: 1.4rem;
  margin: 0;
}
.hero-card input {
  background-color: white;
  font-size: 1.6rem;
  color: var(--dark);
  border: none;
  border-radius: 2px;
  padding: 0.6rem;
}
button {
  background-color: var(--dark);
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  color: white;
}
button:hover {
  box-shadow: grey 2px 2px 2px;
  background-color: var(--yellow);
  color: var(--dark);
}
