<div *ngIf="hero">
    <div class="hero-card">
        <div class="hero-title">
            <h2>{{ hero.name | uppercase }}'s Details</h2>
        </div>
        <div class="hero-img">
            <img src="{{ hero.img }}" alt="{{ hero.name }}'s image">
        </div>
        <div class="hero-id">
            <span>id: {{ hero.id }}</span>
        </div>
        <div class="hero-name">
            <label>
                name:
                <input [(ngModel)]="hero.name" placeholder="name">
            </label>
        </div>
        <div class="buttons">
            <button (click)='save()'>save</button>
            <button (click)='goBack()'>Go back</button>
        </div>
    </div>
</div>