* {
  background-color: transparent;
}
.hero-details-section {
  display: flex;
  align-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-details-card {
  margin: 2vh 0;
  text-align: left;
  background-color: var(--orange);
  border-radius: 10px;
  padding: 2vh 2vw;
  margin: 2vh 4vw;

  display: grid;
  grid-template-areas:
    "img title"
    "img name"
    "img id";
}
.selectedHero-title {
  grid-area: title;
}
.selectedHero-title h2 {
  text-align: center;
  margin: 2vh 0;
  font-weight: 600;
  text-shadow: grey 1px 1px 1px;
}
.selectedHero-img {
  grid-area: img;
  background-color: var(--background);
  border-radius: 10px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selectedHero-name {
  grid-area: name;
}
.selectedHero-id {
  grid-area: id;
}
.hero-details-card h2,
label,
span,
input {
  color: white;
  font-size: 2rem;
}
.hero-details-card input {
  background-color: white;
  font-size: 2rem;
  color: var(--dark);
  border: none;
  padding: 0.6rem;
}
button {
  background-color: var(--dark);
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  color: white;
}
button:hover {
  box-shadow: grey 2px 2px 2px;
  background-color: var(--yellow);
  color: var(--dark);
}
