* {
  background-color: var(--dark);
  color: white;
}
.messages-block {
  padding: 2vh 2vw;
  text-align: center;
  max-height: 30vh;
  overflow-y: scroll;
  position: fixed;
  bottom: 0;
  width: 100%;
}
h2 {
  font-size: 1.4rem;
  font-weight: 600;
  text-shadow: grey 1px 1px 1px;
}
button {
  padding: 0.4em;
  width: 2vw;
  height: 4vh;
  border: none;
  background-color: var(--yellow);
  color: white;
  text-shadow: grey 1px 1px 1px;
  font-weight: 600;
  border-radius: 20px;
}
button:hover {
  background-color: white;
  color: var(--dark);
}
.messages-list {
  line-height: 1.6rem;
}
