:root {
  --background: #f2f2f2;
  --dark: #131626;
  --yellow: #f2b90c;
  --orange: #f28322;
  --red: #f22929;
}
html body {
  margin: 0;
}
* {
  background-color: white;
  color: var(--dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
h1 {
  color: var(--red);
  text-shadow: grey 1px 1px 1px;
  font-size: 2rem;
  text-align: center;
}
h2,
h3 {
  color: var(--orange);
  font-weight: lighter;
}
body {
  margin: 2em;
}
