* {
  background-color: transparent;
}
h2 {
  text-align: center;
  margin: 2vh 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--dark);
  text-shadow: grey 1px 1px 1px;
}
.heroes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card card card";
}
.hero-card {
  grid-area: card;
  margin: 1vh 0;
  padding: 0.6vh 0.6vw;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background);
}
.hero-card:hover {
  box-shadow: 2.6px 2.6px 2.6px 3px rgb(170, 170, 170);
}
.hero-img {
  margin: 2vh 0;
  background-color: var(--background);
}
.hero-img img {
  max-width: 10vw;
  max-height: 10vh;
  padding: 1vh 1vw;
}
.hero-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
  text-shadow: grey 1px 1px 1px;
  margin: 2vh 0;
}
