h2 {
  text-align: center;
  margin: 2vh 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--yellow);
  text-shadow: grey 1px 1px 1px;
}
.heroes-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card card card";
}
.hero-card {
  grid-area: card;
  border: var(--dark) solid 1px;
  margin: 1vh 0;
  padding: 0.6vh 0.6vw;
  border-radius: 4px;
  text-align: center;
}
.hero-card span {
  font-size: 0.8rem;
}
.hero-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
  text-shadow: grey 1px 1px 1px;
  margin-top: 1vh;
}
