* {
  background-color: transparent;
}
h2 {
  text-align: center;
  margin: 2vh 0;
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--yellow);
  text-shadow: grey 2px 2px 2px;
}
.heroes-list {
  padding: 2vh 2vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "card card card";
}
.hero-card {
  grid-area: card;
  margin: 1vh 1vw;
  padding: 0.6vh 0.6vw;
  border-radius: 10px;
  text-align: center;
  background-color: var(--background);
}
.hero-card:hover {
  box-shadow: 2.6px 2.6px 2.6px 3px rgb(170, 170, 170);
}
.hero-img {
  margin: 2vh 0;
  background-color: var(--background);
}
.hero-img img {
  max-width: 10vw;
  max-height: 10vh;
  padding: 1vh 1vw;
}
.hero-card h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark);
  text-shadow: grey 1px 1px 1px;
  margin: 2vh 0;
}
.addHero {
  margin: 1vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addHero h3 {
  font-size: 1.4rem;
  color: var(--dark);
}
.addHero label {
  margin: 2vh 0;
}
.addHero input {
  border: none;
  background-color: var(--background);
  margin-left: 1vw;
}
button {
  text-align: center;
  width: fit-content;
  padding: 2.4vh 1vw;
  border-radius: 60px;
  background-color: grey;
  border: none;
  color: white;
  font-weight: 600;
}
button:hover {
  background-color: var(--yellow);
  color: var(--dark);
  box-shadow: grey 1px 1px 1px;
}
.delete {
  padding: 0.5vh 0.55vw;
  margin-bottom: 1vh;
}
.delete:hover {
  background-color: var(--red);
}
